<main class="container">

    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote", new_quote_path, class: "btn btn--primary" %>
    </div>

    <%# <%= render partial: "quote", collection: @quotes %>

    <%# <h1>-------------------------------------------</h1> %>

    <% @quotes.each do |quote| %>
      <%= turbo_frame_tag "quote_#{quote.id}" do %>
        <div class="quote">
          <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top" } %>
          <div class="quote__actions">
            <%= button_to "Delete", quote_path(quote), method: :delete, class: "btn btn--light" %>
            <%= link_to "Edit", edit_quote_path(quote), class: "btn btn--light" %>
          </div>
        </div>
      <% end %>
    <% end %>

</main>
